################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/programming_baffles/.vs/programming_baffles/v16
